body {
	background: lightgrey;
	color: #4d4da7;
	text-align: center;
}

.title {
	margin-top: 100px;
	height: 30px;
	margin-bottom: 15px;
	font-family: arial;
	font-size: 32px;
}

.timer {
	margin: auto;
	width: 76px;
	height: 25px;
	margin-bottom: 5px;
	padding: 2px;
	border: 1px solid #205173;
	font-family: arial;
	font-size: 12px;
	border-radius: 10px 0 0 10px;
	text-align: center;
}

.delete {
	margin: auto;
	width: 25px;
	height: 25px;
	margin-left: -1px;
	margin-bottom: 5px;
	padding: 2px;
	border: 1px solid #205173;
	font-family: arial;
	font-size: 12px;
	background: #4d4da7;
	color: white;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
}

.add {
	margin: auto;
	width: 100px;
	height: 25px;
	padding: 2px;
	border: 1px solid #205173;
	border-radius: 10px;
	font-family: arial;
	font-size: 12px;
	background: #4d4da7;
	color: white;
	cursor: pointer;
}

.delete:hover, .add:hover {
	background: #353592;
}

.delete:active, .add:active {
	border: 1px solid grey;
}

#timers {
	margin-bottom: 5px;
}
