body {
	background: rgb(136,191,232);
	background: -moz-linear-gradient(-45deg, rgb(136,191,232) 0%, rgb(34,146,216) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(136,191,232) 0%,rgb(34,146,216) 100%);
	background: linear-gradient(135deg, rgb(136,191,232) 0%,rgb(34,146,216) 100%);
	color: #6464bd;
	text-align: center;
}

.title {
	margin-top: 100px;
	height: 30px;
	margin-bottom: 30px;
	font-family: arial;
	font-size: 32px;
}

.timer {
	margin: auto;
	width: 76px;
	height: 25px;
	margin-bottom: 5px;
	padding: 2px;
	border: 1px solid grey;
	font-family: arial;
	font-size: 12px;
}

.delete {
	margin: auto;
	width: 25px;
	height: 25px;
	margin-left: -1px;
	margin-bottom: 5px;
	padding: 2px;
	border: 1px solid grey;
	font-family: arial;
	font-size: 12px;
	background: #6464bd;
	color: white;
	border-radius: 0 10px 10px 0;
}

.add {
	margin: auto;
	width: 100px;
	height: 25px;
	padding: 2px;
	border: 1px solid grey;
	border-radius: 10px;
	font-family: arial;
	font-size: 12px;
	background: #6464bd;
	color: white;
}

.delete:hover, .add:hover {
	background: #fafafa;
}

.delete:active, .add:active {
	border: 1px solid lightgrey;
}

#timers {
	margin-bottom: 5px;
}
